**Скачивание файлов**

In [ ]:
import pandas as pd

In [ ]:
!wget https://aiijc.com/api_v2/task/1066/53 -O dffolder.zip
!unzip /content/dffolder.zip

--2022-04-09 09:03:57--  https://aiijc.com/api_v2/task/1066/53
Resolving aiijc.com (aiijc.com)... 188.93.56.95
Connecting to aiijc.com (aiijc.com)|188.93.56.95|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 26391772 (25M) [application/zip]
Saving to: ‘dffolder.zip’

dffolder.zip        100%[===================>]  25.17M  10.6MB/s    in 2.4s

2022-04-09 09:04:02 (10.6 MB/s) - ‘dffolder.zip’ saved [26391772/26391772]

Archive:  /content/dffolder.zip
replace __MACOSX/._rabotaru_en? [y]es, [n]o, [A]ll, [N]one, [r]ename: N

In [ ]:
!wget https://getfile.dokpub.com/yandex/get/https://disk.yandex.ru/d/q3OBoq2qpSp32w -O parsed.csv #скачивание данных парсинга с headhunter, trudvsem и superjob

--2022-09-27 07:11:38--  https://getfile.dokpub.com/yandex/get/https://disk.yandex.ru/d/q3OBoq2qpSp32w
Resolving getfile.dokpub.com (getfile.dokpub.com)... 142.132.255.217
Connecting to getfile.dokpub.com (getfile.dokpub.com)|142.132.255.217|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://downloader.disk.yandex.ru/disk/29d9ea034ebe24153768150374442b9ac7d870cff7d0be45f71c9306c38ccf9d/6332da6b/PKiwL9hDtrnduXgl_ZIG1C8ssSpdNbyM71kFjUgmFsBwFAJWpDrSGKECioJ5dBPZcOgKlfrIJiz3ZHsH2DTCWQ%3D%3D?uid=0&filename=train_.csv&disposition=attachment&hash=ca713sco/%2BRu90Ew1GlE26aHO1MTAVMtxKwI6IcbnvGNIPNk8GYb50iv4kxtmTpxq/J6bpmRyOJonT3VoXnDag%3D%3D%3A&limit=0&content_type=application%2Foctet-stream&owner_uid=1442255699&fsize=827939256&hid=f81d4237f1d0ba3d35e968b2a4107229&media_type=spreadsheet&tknv=v2 [following]
--2022-09-27 07:11:39--  https://downloader.disk.yandex.ru/disk/29d9ea034ebe24153768150374442b9ac7d870cff7d0be45f71c9306c38ccf9d/6332da6b/PKiwL9hDtrnduXgl_ZIG1C8ssSpdNbyM71kFjUgmFsBwFAJWpDrSGKECioJ5dBPZcOgKlfrIJiz3ZHsH2DTCWQ%3D%3D?uid=0&filename=train_.csv&disposition=attachment&hash=ca713sco/%2BRu90Ew1GlE26aHO1MTAVMtxKwI6IcbnvGNIPNk8GYb50iv4kxtmTpxq/J6bpmRyOJonT3VoXnDag%3D%3D%3A&limit=0&content_type=application%2Foctet-stream&owner_uid=1442255699&fsize=827939256&hid=f81d4237f1d0ba3d35e968b2a4107229&media_type=spreadsheet&tknv=v2
Resolving downloader.disk.yandex.ru (downloader.disk.yandex.ru)... 77.88.21.127, 2a02:6b8::2:127
Connecting to downloader.disk.yandex.ru (downloader.disk.yandex.ru)|77.88.21.127|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://s728sas.storage.yandex.net/rdisk/29d9ea034ebe24153768150374442b9ac7d870cff7d0be45f71c9306c38ccf9d/6332da6b/PKiwL9hDtrnduXgl_ZIG1C8ssSpdNbyM71kFjUgmFsBwFAJWpDrSGKECioJ5dBPZcOgKlfrIJiz3ZHsH2DTCWQ==?uid=0&filename=train_.csv&disposition=attachment&hash=ca713sco/%2BRu90Ew1GlE26aHO1MTAVMtxKwI6IcbnvGNIPNk8GYb50iv4kxtmTpxq/J6bpmRyOJonT3VoXnDag%3D%3D%3A&limit=0&content_type=application%2Foctet-stream&owner_uid=1442255699&fsize=827939256&hid=f81d4237f1d0ba3d35e968b2a4107229&media_type=spreadsheet&tknv=v2&rtoken=IzuxuK7WoLGK&force_default=no&ycrid=na-216a87596e6ce0a86f8dbc741b760c0d-downloader2f&ts=5e9a6b54b30c0&s=4d0b96f1c0956af2bedf3b934c299ecc9139c146b189f634c13dfb711486ade9&pb=U2FsdGVkX18bM95R7PwLN4ZPeGIW9uWIAW0SgvvuSwqclUQlduyIyNl2bacFqXb0CZt-H1pzMvtR4VkJbMwtLK25fPuh5fvco1A65H9N7bk [following]
--2022-09-27 07:11:40--  https://s728sas.storage.yandex.net/rdisk/29d9ea034ebe24153768150374442b9ac7d870cff7d0be45f71c9306c38ccf9d/6332da6b/PKiwL9hDtrnduXgl_ZIG1C8ssSpdNbyM71kFjUgmFsBwFAJWpDrSGKECioJ5dBPZcOgKlfrIJiz3ZHsH2DTCWQ==?uid=0&filename=train_.csv&disposition=attachment&hash=ca713sco/%2BRu90Ew1GlE26aHO1MTAVMtxKwI6IcbnvGNIPNk8GYb50iv4kxtmTpxq/J6bpmRyOJonT3VoXnDag%3D%3D%3A&limit=0&content_type=application%2Foctet-stream&owner_uid=1442255699&fsize=827939256&hid=f81d4237f1d0ba3d35e968b2a4107229&media_type=spreadsheet&tknv=v2&rtoken=IzuxuK7WoLGK&force_default=no&ycrid=na-216a87596e6ce0a86f8dbc741b760c0d-downloader2f&ts=5e9a6b54b30c0&s=4d0b96f1c0956af2bedf3b934c299ecc9139c146b189f634c13dfb711486ade9&pb=U2FsdGVkX18bM95R7PwLN4ZPeGIW9uWIAW0SgvvuSwqclUQlduyIyNl2bacFqXb0CZt-H1pzMvtR4VkJbMwtLK25fPuh5fvco1A65H9N7bk
Resolving s728sas.storage.yandex.net (s728sas.storage.yandex.net)... 5.255.211.198, 2a02:6b8:c02:f6f:0:41af:33a6:6e3f
Connecting to s728sas.storage.yandex.net (s728sas.storage.yandex.net)|5.255.211.198|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 827939256 (790M) [application/octet-stream]
Saving to: ‘parsed.csv’

parsed.csv          100%[===================>] 789.58M  22.8MB/s    in 36s

2022-09-27 07:12:17 (22.0 MB/s) - ‘parsed.csv’ saved [827939256/827939256]

In [ ]:
parsed = pd.read_csv('/content/parsed.csv').sample(frac=1)[70000:100000] #загрузка данных парсинга
sample = pd.read_csv('/content/rabotaru_en/data/sample.csv')
test = pd.read_csv('/content/rabotaru_en/data/test.csv')
train = pd.read_csv('/content/rabotaru_en/data/train_public.csv')

**Импортирование нужных библиотек**

In [ ]:
!pip install pymorphy2
!pip install catboost

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymorphy2
  Downloading pymorphy2-0.9.1-py3-none-any.whl (55 kB)
     |████████████████████████████████| 55 kB 4.4 MB/s
Collecting docopt>=0.6
  Downloading docopt-0.6.2.tar.gz (25 kB)
Collecting pymorphy2-dicts-ru<3.0,>=2.4
  Downloading pymorphy2_dicts_ru-2.4.417127.4579844-py2.py3-none-any.whl (8.2 MB)
     |████████████████████████████████| 8.2 MB 52.9 MB/s
Collecting dawg-python>=0.7.1
  Downloading DAWG_Python-0.7.2-py2.py3-none-any.whl (11 kB)
Building wheels for collected packages: docopt
  Building wheel for docopt (setup.py) ... done
  Created wheel for docopt: filename=docopt-0.6.2-py2.py3-none-any.whl size=13723 sha256=a1b1d1166087dc485c10acad0a375f000919dc60f9d0cb043146ca6c9ebcc397
  Stored in directory: /root/.cache/pip/wheels/72/b0/3f/1d95f96ff986c7dfffe46ce2be4062f38ebd04b506c77c81b9
Successfully built docopt
Installing collected packages: pymorphy2-dicts-ru, docopt, dawg-python, pymorphy2
Successfully installed dawg-python-0.7.2 docopt-0.6.2 pymorphy2-0.9.1 pymorphy2-dicts-ru-2.4.417127.4579844
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting catboost
  Downloading catboost-1.1-cp37-none-manylinux1_x86_64.whl (76.8 MB)
     |████████████████████████████████| 76.8 MB 1.2 MB/s
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.21.6)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (5.5.0)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.3.5)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.7.3)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib->catboost) (4.1.1)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (8.0.1)
Installing collected packages: catboost
Successfully installed catboost-1.1

In [ ]:
import pymorphy2
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import nltk
 
nltk.download('stopwords')
 
import os
import re
from nltk.corpus import stopwords
from sklearn.metrics import f1_score
from nltk import SnowballStemmer
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.multiclass import OneVsRestClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from catboost import CatBoostClassifier
%matplotlib inline

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
a = train[:5]
a

,id,custom_position,operating_schedule_id,description,salary_from,offer_education_id,age_from,age_to,is_agency,is_nonresident,offer_experience_year_count,salary_to,is_male,driving_license,region_id,company_id,city_id,target_prof
0,268842,Подсобный рабочий,1,<strong>Обязанности:</strong><br />\r\n<ul>\r\...,34000,0,NaN,NaN,True,True,1.0,41000.0,True,[],{1783},1234787.0,70,рабочий
1,19090,Разнорабочий,7,<br />\nТребования: <br>На овощную базу в Подм...,66000,0,NaN,NaN,False,False,NaN,NaN,NaN,[],{3},NaN,1,разнорабочий
2,315832,Повар холодного цеха,1,<br />\nТребования: <br>Приготовление салатов....,40000,0,NaN,NaN,False,False,NaN,40000.0,NaN,[],{3},NaN,1,повар
3,365230,Разнорабочий,7,<strong>Обязанности:</strong><br />\r\n<ul>\r\...,35000,0,NaN,NaN,False,True,-100.0,40000.0,NaN,[],{5807},2784163.0,70,разнорабочий
4,154105,Региональный торговый представитель по Смоленс...,1,<strong>Обязанности:</strong><br /> &nbsp;<br ...,30000,4,NaN,NaN,False,True,2.0,70000.0,NaN,[],{362},1703984.0,258,представитель

In [ ]:
a.to_csv('kapusta.csv')

**Обработка данных**

In [ ]:
stopwords = stopwords.words('russian') #загрузка стоп-слов русского языка

In [ ]:
stopwords

['и',
 'в',
 'во',
 'не',
 'что',
 'он',
 'на',
 'я',
 'с',
 'со',
 'как',
 'а',
 'то',
 'все',
 'она',
 'так',
 'его',
 'но',
 'да',
 'ты',
 'к',
 'у',
 'же',
 'вы',
 'за',
 'бы',
 'по',
 'только',
 'ее',
 'мне',
 'было',
 'вот',
 'от',
 'меня',
 'еще',
 'нет',
 'о',
 'из',
 'ему',
 'теперь',
 'когда',
 'даже',
 'ну',
 'вдруг',
 'ли',
 'если',
 'уже',
 'или',
 'ни',
 'быть',
 'был',
 'него',
 'до',
 'вас',
 'нибудь',
 'опять',
 'уж',
 'вам',
 'ведь',
 'там',
 'потом',
 'себя',
 'ничего',
 'ей',
 'может',
 'они',
 'тут',
 'где',
 'есть',
 'надо',
 'ней',
 'для',
 'мы',
 'тебя',
 'их',
 'чем',
 'была',
 'сам',
 'чтоб',
 'без',
 'будто',
 'чего',
 'раз',
 'тоже',
 'себе',
 'под',
 'будет',
 'ж',
 'тогда',
 'кто',
 'этот',
 'того',
 'потому',
 'этого',
 'какой',
 'совсем',
 'ним',
 'здесь',
 'этом',
 'один',
 'почти',
 'мой',
 'тем',
 'чтобы',
 'нее',
 'сейчас',
 'были',
 'куда',
 'зачем',
 'всех',
 'никогда',
 'можно',
 'при',
 'наконец',
 'два',
 'об',
 'другой',
 'хоть',
 'после',
 'над',
 'больше',
 'тот',
 'через',
 'эти',
 'нас',
 'про',
 'всего',
 'них',
 'какая',
 'много',
 'разве',
 'три',
 'эту',
 'моя',
 'впрочем',
 'хорошо',
 'свою',
 'этой',
 'перед',
 'иногда',
 'лучше',
 'чуть',
 'том',
 'нельзя',
 'такой',
 'им',
 'более',
 'всегда',
 'конечно',
 'всю',
 'между']

In [ ]:
morph = pymorphy2.MorphAnalyzer()

def lemmize(text): #функция лемматизации текста
  words = text.split()
  words_splitted = []
  for i in words:
    words_splitted.extend(i.split('-'))
  res = list()
  for word in words_splitted:
        p = morph.parse(word)[0]
        res.append(p.normal_form)
  return ' '.join(res).strip()

In [ ]:
train['custom_position'] = train['custom_position'].str.lower().apply(lemmize) #леммитизация текста в custom_position
test['custom_position'] = test['custom_position'].str.lower().apply(lemmize)

In [ ]:
parsed['name'] = parsed['name'].str.lower().apply(lemmize)

In [ ]:
def remove_stopwords(text): #функция удаления стоп-слов
  words = text.split()
  new_words = []
  for i in words:
    if i not in stopwords:
      new_words.append(i)

  return ' '.join(new_words)

In [ ]:
train['custom_position'] = train['custom_position'].str.lower().apply(remove_stopwords) #удаление стоп-слов
test['custom_position'] = test['custom_position'].str.lower().apply(remove_stopwords)
parsed['name'] = parsed['name'].str.lower().apply(remove_stopwords)

In [ ]:
train.head()

,id,custom_position,operating_schedule_id,description,salary_from,offer_education_id,age_from,age_to,is_agency,is_nonresident,offer_experience_year_count,salary_to,is_male,driving_license,region_id,company_id,city_id,target_prof
0,268842,подсобный рабочий,1,<strong>Обязанности:</strong><br />\r\n<ul>\r\...,34000,0,NaN,NaN,True,True,1.0,41000.0,True,[],{1783},1234787.0,70,рабочий
1,19090,разнорабочий,7,<br />\nТребования: <br>На овощную базу в Подм...,66000,0,NaN,NaN,False,False,NaN,NaN,NaN,[],{3},NaN,1,разнорабочий
2,315832,повар холодное цех,1,<br />\nТребования: <br>Приготовление салатов....,40000,0,NaN,NaN,False,False,NaN,40000.0,NaN,[],{3},NaN,1,повар
3,365230,разнорабочий,7,<strong>Обязанности:</strong><br />\r\n<ul>\r\...,35000,0,NaN,NaN,False,True,-100.0,40000.0,NaN,[],{5807},2784163.0,70,разнорабочий
4,154105,региональный торговый представитель смоленск о...,1,<strong>Обязанности:</strong><br /> &nbsp;<br ...,30000,4,NaN,NaN,False,True,2.0,70000.0,NaN,[],{362},1703984.0,258,представитель

In [ ]:
test.head()

,id,custom_position,operating_schedule_id,description,offer_education_id,age_from,age_to,is_agency,is_nonresident,offer_experience_year_count,is_male,driving_license,region_id,company_id,city_id
0,286961,водитель курьер доставка еда,3,<strong>Приглашаем на работу ВОДИТЕЛЕЙ-КУРЬЕРО...,0,18.0,50.0,False,True,-100.0,NaN,['B'],{209},1172596.0,57
1,423834,упаковщик печение (вахта),7,"Прямой работодатель, с сезонным расширением пр...",0,NaN,NaN,False,False,NaN,NaN,[],{3},1879927.0,1
2,336464,менеджер туризм,3,<strong>Обязанности:</strong><br />\r\n<ul>\r\...,4,NaN,NaN,False,False,1.0,NaN,[],{1278},2724192.0,57
3,287634,повар сушистый,1,Компания PIZZASUSHIWOK приглашает на работу по...,0,18.0,50.0,False,True,-100.0,NaN,[],{3},1172596.0,1
4,174883,уборщик/уборщица азс 145,3,<br /> <br />Требуется уборщик/ца на АЗС 145.<...,0,NaN,NaN,False,True,-1.0,NaN,[],{1278},1952643.0,1

In [ ]:
parsed.head()

,Unnamed: 0,description,name,label
288796,232499,<p><strong><em>Мы занимаемся разработкой и раз...,руководитель партнёрский направление сра,руководитель
155071,98774,<strong>Обязанности:</strong> <ul> <li> <p>Реш...,сотрудник выездной технический поддержка / каб...,сотрудник
129276,72979,<p><strong>Обязанности:</strong></p> <ul> <li>...,швея (трикотаж),швея
87475,31178,<p><strong><em>Группа компаний &quot;Русский Х...,автослесарь (слесарить ремонтник),слесарь
238728,182431,<strong>Обязанности:</strong> <ul> <li>Своевре...,логист,логист

**Предсказание специальностей**

In [ ]:
#X, y = list(pd.concat([train['custom_position'], parsed['name']])), list(pd.concat([train['target_prof'], parsed['label']]))
X, y = train['custom_position'], train['target_prof']
X_train, X_val, y_train, y_val = train_test_split(X, y, train_size=0.8)

In [ ]:
y_train

10962            повар
5359            курьер
51313           мастер
41153         менеджер
8748         инспектор
             ...
42036     посудомойщик
39489           курьер
8697          оператор
8405     администратор
41616      дезинфектор
Name: target_prof, Length: 45037, dtype: object

In [ ]:
vectorizer = TfidfVectorizer().fit(X_train)

In [ ]:
import pickle
with open('vectorizer.pickle', 'wb') as f:
  pickle.dump(vectorizer, f)

In [ ]:
X_tfidf_train = np.array(vectorizer.transform(X_train).todense(), dtype=np.float16)
X_tfidf_val = np.array(vectorizer.transform(X_val).todense(), dtype=np.float16)

In [ ]:
def evaluate_model(model, X, y, print_report=False): #функция проверки качества модели
  y_pred = model.predict(X)
  f1 = f1_score(y, y_pred, average='macro')
  print(f'Macro F1 score: {f1}')
  if print_report:
    print(f'Report for model: {str(model)}')
    print(classification_report(y, y_pred, zero_division=0))
  return f1

In [ ]:
modelq = RandomForestClassifier(n_estimators = 5, n_jobs = -1).fit(X_tfidf_train, y_train) #обучение модели
evaluate_model(modelq, X_tfidf_train, y_train)
print('Validation')
evaluate_model(modelq, X_tfidf_val, y_val)

Macro F1 score: 0.9449210181981473
Validation
Macro F1 score: 0.8102386061308381

0.8102386061308381

In [ ]:
with open('/content/drive/MyDrive/npk/model5.pickle', 'wb') as f:
  pickle.dump(modelq, f)

In [ ]:
test_tfidf = np.array(vectorizer.transform(test['custom_position']).todense(), dtype=np.float16)

In [ ]:
test['target_prof'] = modelq.predict(test_tfidf)

In [ ]:
test

,id,custom_position,operating_schedule_id,description,offer_education_id,age_from,age_to,is_agency,is_nonresident,offer_experience_year_count,is_male,driving_license,region_id,company_id,city_id,target_prof
0,286961,водитель курьер доставка еда,3,<strong>Приглашаем на работу ВОДИТЕЛЕЙ-КУРЬЕРО...,0,18.0,50.0,False,True,-100.0,NaN,['B'],{209},1172596.0,57,водитель
1,423834,упаковщик печение (вахта),7,"Прямой работодатель, с сезонным расширением пр...",0,NaN,NaN,False,False,NaN,NaN,[],{3},1879927.0,1,упаковщик
2,336464,менеджер туризм,3,<strong>Обязанности:</strong><br />\r\n<ul>\r\...,4,NaN,NaN,False,False,1.0,NaN,[],{1278},2724192.0,57,менеджер
3,287634,повар сушистый,1,Компания PIZZASUSHIWOK приглашает на работу по...,0,18.0,50.0,False,True,-100.0,NaN,[],{3},1172596.0,1,повар
4,174883,уборщик/уборщица азс 145,3,<br /> <br />Требуется уборщик/ца на АЗС 145.<...,0,NaN,NaN,False,True,-1.0,NaN,[],{1278},1952643.0,1,уборщик
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14069,290923,маркировщик/ца детский товар,7,<strong>Работа вахтой на производственно-склад...,0,NaN,NaN,False,False,NaN,NaN,[],{3},1709808.0,1,маркировщик
14070,175080,упаковщик чайный фабрика (вахта),7,На чайную фабрику в Москве требуются сотрудник...,0,NaN,NaN,False,False,NaN,NaN,[],{3},1724853.0,1,упаковщик
14071,451820,главный бухгалтер тэо,6,Стабильно работающая более 10 лет компания ище...,4,NaN,NaN,False,True,3.0,NaN,[],{4},2961361.0,2,бухгалтер
14072,257668,помощник руководитель,1,<br />\nТребования: <br>В связи с формирование...,0,NaN,NaN,False,False,NaN,NaN,[],{3},NaN,1,ассистент
14073,213393,мастер,3,<br />\nТребования: <br>Контроль качества<br>К...,0,NaN,NaN,False,False,1.0,NaN,[],{3},NaN,1,мастер

**Предсказание зарплат**

In [ ]:
test['salary_from'] = 0
test['salary_to'] = 0

In [ ]:
for i in range(len(train)): #обработка регионов
  r = str(train['region_id'].iloc[i])
  if r[0] == '{':
    r = r[1:]
  if r[-1] == '}':
    r = r[:-1]
  r = int(r.split(', ')[0])
  train.loc[i, 'region_id'] = r

for i in range(len(test)):
  r = str(test['region_id'].iloc[i])
  if r[0] == '{':
    r = r[1:]
  if r[-1] == '}':
    r = r[:-1]
  r = int(r.split(', ')[0])
  test.loc[i, 'region_id'] = r

In [ ]:
train

,id,custom_position,operating_schedule_id,description,salary_from,offer_education_id,age_from,age_to,is_agency,is_nonresident,offer_experience_year_count,salary_to,is_male,driving_license,region_id,company_id,city_id,target_prof
0,268842,подсобный рабочий,1,<strong>Обязанности:</strong><br />\r\n<ul>\r\...,34000,0,NaN,NaN,True,True,1.0,41000.0,True,[],1783,1234787.0,70,рабочий
1,19090,разнорабочий,7,<br />\nТребования: <br>На овощную базу в Подм...,66000,0,NaN,NaN,False,False,NaN,NaN,NaN,[],3,NaN,1,разнорабочий
2,315832,повар холодное цех,1,<br />\nТребования: <br>Приготовление салатов....,40000,0,NaN,NaN,False,False,NaN,40000.0,NaN,[],3,NaN,1,повар
3,365230,разнорабочий,7,<strong>Обязанности:</strong><br />\r\n<ul>\r\...,35000,0,NaN,NaN,False,True,-100.0,40000.0,NaN,[],5807,2784163.0,70,разнорабочий
4,154105,региональный торговый представитель смоленск о...,1,<strong>Обязанности:</strong><br /> &nbsp;<br ...,30000,4,NaN,NaN,False,True,2.0,70000.0,NaN,[],362,1703984.0,258,представитель
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56292,441432,логист,1,<strong>Обязанности:</strong>&nbsp;<br />\r\n<...,80000,0,NaN,NaN,False,False,2.0,NaN,NaN,[],4,2915102.0,2,логист
56293,20526,кондитер,7,В Дивизионе комплексного обслуживания удаленны...,0,2,NaN,NaN,False,True,3.0,73000.0,NaN,[],526,1225566.0,18,повар
56294,280515,сборщик кожгалантерейный изделие,1,<br />\nТребования: <br>с опытом,-1,0,NaN,NaN,False,False,NaN,-1.0,NaN,[],4,NaN,2,сборщик
56295,237213,инженер связь,1,<strong>Обязанности:</strong><br />\r\n<ul>\r\...,-1,4,NaN,NaN,False,True,2.0,-1.0,NaN,[],1626,1879891.0,29,инженер
56296,422627,повар универсал,3,<strong>Обязанности:</strong><br />\r\n<ul>\r\...,55000,2,NaN,NaN,False,True,1.0,NaN,NaN,[],3,1654136.0,1,повар

In [ ]:
regs = []
for i in train['region_id']:
  if i not in regs:
    regs.append(i)
reg_median_salary = []
for i in regs:
  a = train[train['region_id'] == i][train['salary_from'] > 0]['salary_from']
  if len(a) == 0:
    reg_median_salary.append(train[train['salary_from'] > 0]['salary_from'].median())
  else:
    reg_median_salary.append(a.median())
reg_median_salary
max_i = max(reg_median_salary) #разделяем на 40 зарплатных классов регионов
for i in range(len(regs)):
  reg_median_salary[i] = round((reg_median_salary[i]/max_i)*40)
for i in range(len(train)): #присваиваем каждой строке один из зарплатных классов
  train.loc[i, 'region_id_i'] = reg_median_salary[regs.index(train['region_id'].iloc[i])]
train
for i in range(len(test)): #присваиваем каждой строке один из зарплатных классов
  try:
    test.loc[i, 'region_id_i'] = reg_median_salary[regs.index(test['region_id'].iloc[i])]
  except:
    test.loc[i, 'region_id_i'] = 18
train

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  import sys

,id,custom_position,operating_schedule_id,description,salary_from,offer_education_id,age_from,age_to,is_agency,is_nonresident,offer_experience_year_count,salary_to,is_male,driving_license,region_id,company_id,city_id,target_prof,region_id_i
0,268842,подсобный рабочий,1,<strong>Обязанности:</strong><br />\r\n<ul>\r\...,34000,0,NaN,NaN,True,True,1.0,41000.0,True,[],1783,1234787.0,70,рабочий,5.0
1,19090,разнорабочий,7,<br />\nТребования: <br>На овощную базу в Подм...,66000,0,NaN,NaN,False,False,NaN,NaN,NaN,[],3,NaN,1,разнорабочий,6.0
2,315832,повар холодное цех,1,<br />\nТребования: <br>Приготовление салатов....,40000,0,NaN,NaN,False,False,NaN,40000.0,NaN,[],3,NaN,1,повар,6.0
3,365230,разнорабочий,7,<strong>Обязанности:</strong><br />\r\n<ul>\r\...,35000,0,NaN,NaN,False,True,-100.0,40000.0,NaN,[],5807,2784163.0,70,разнорабочий,5.0
4,154105,региональный торговый представитель смоленск о...,1,<strong>Обязанности:</strong><br /> &nbsp;<br ...,30000,4,NaN,NaN,False,True,2.0,70000.0,NaN,[],362,1703984.0,258,представитель,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56292,441432,логист,1,<strong>Обязанности:</strong>&nbsp;<br />\r\n<...,80000,0,NaN,NaN,False,False,2.0,NaN,NaN,[],4,2915102.0,2,логист,5.0
56293,20526,кондитер,7,В Дивизионе комплексного обслуживания удаленны...,0,2,NaN,NaN,False,True,3.0,73000.0,NaN,[],526,1225566.0,18,повар,10.0
56294,280515,сборщик кожгалантерейный изделие,1,<br />\nТребования: <br>с опытом,-1,0,NaN,NaN,False,False,NaN,-1.0,NaN,[],4,NaN,2,сборщик,5.0
56295,237213,инженер связь,1,<strong>Обязанности:</strong><br />\r\n<ul>\r\...,-1,4,NaN,NaN,False,True,2.0,-1.0,NaN,[],1626,1879891.0,29,инженер,3.0
56296,422627,повар универсал,3,<strong>Обязанности:</strong><br />\r\n<ul>\r\...,55000,2,NaN,NaN,False,True,1.0,NaN,NaN,[],3,1654136.0,1,повар,6.0

In [ ]:
with open('regs.pickle', 'wb') as f:
  pickle.dump(regs, f)
with open('med_s_reg.pickle', 'wb') as f:
  pickle.dump(reg_median_salary, f)

In [ ]:
profs = []
for i in train['target_prof']:
  if i not in profs:
    profs.append(i)
profs_median_salary = []
for i in profs:
  a = train[train['target_prof'] == i][train['salary_from'] > 0]['salary_from']
  if len(a) == 0:
    profs_median_salary.append(train[train['salary_from'] > 0]['salary_from'].median())
  else:
    profs_median_salary.append(a.median())
max_i = max(profs_median_salary) #разделяем на 15 зарплатных классов специализаций
for i in range(len(profs)):
  profs_median_salary[i] = round((profs_median_salary[i]/max_i)*15)
for i in range(len(train)): #присваиваем каждой строке один из зарплатных классов
  train.loc[i, 'sal_class_tp'] = profs_median_salary[profs.index(train['target_prof'].iloc[i])]
train
for i in range(len(test)): #присваиваем каждой строке один из зарплатных классов
  test.loc[i, 'sal_class_tp'] = profs_median_salary[profs.index(test['target_prof'].iloc[i])]
test

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  import sys

,id,custom_position,operating_schedule_id,description,offer_education_id,age_from,age_to,is_agency,is_nonresident,offer_experience_year_count,is_male,driving_license,region_id,company_id,city_id,target_prof,salary_from,salary_to,region_id_i,sal_class_tp
0,286961,водитель курьер доставка еда,3,<strong>Приглашаем на работу ВОДИТЕЛЕЙ-КУРЬЕРО...,0,18.0,50.0,False,True,-100.0,NaN,['B'],209,1172596.0,57,водитель,0,0,5.0,5.0
1,423834,упаковщик печение (вахта),7,"Прямой работодатель, с сезонным расширением пр...",0,NaN,NaN,False,False,NaN,NaN,[],3,1879927.0,1,упаковщик,0,0,6.0,4.0
2,336464,менеджер туризм,3,<strong>Обязанности:</strong><br />\r\n<ul>\r\...,4,NaN,NaN,False,False,1.0,NaN,[],1278,2724192.0,57,менеджер,0,0,5.0,3.0
3,287634,повар сушистый,1,Компания PIZZASUSHIWOK приглашает на работу по...,0,18.0,50.0,False,True,-100.0,NaN,[],3,1172596.0,1,повар,0,0,6.0,3.0
4,174883,уборщик/уборщица азс 145,3,<br /> <br />Требуется уборщик/ца на АЗС 145.<...,0,NaN,NaN,False,True,-1.0,NaN,[],1278,1952643.0,1,уборщик,0,0,5.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14069,290923,маркировщик/ца детский товар,7,<strong>Работа вахтой на производственно-склад...,0,NaN,NaN,False,False,NaN,NaN,[],3,1709808.0,1,маркировщик,0,0,6.0,3.0
14070,175080,упаковщик чайный фабрика (вахта),7,На чайную фабрику в Москве требуются сотрудник...,0,NaN,NaN,False,False,NaN,NaN,[],3,1724853.0,1,упаковщик,0,0,6.0,4.0
14071,451820,главный бухгалтер тэо,6,Стабильно работающая более 10 лет компания ище...,4,NaN,NaN,False,True,3.0,NaN,[],4,2961361.0,2,бухгалтер,0,0,5.0,3.0
14072,257668,помощник руководитель,1,<br />\nТребования: <br>В связи с формирование...,0,NaN,NaN,False,False,NaN,NaN,[],3,NaN,1,ассистент,0,0,6.0,3.0
14073,213393,мастер,3,<br />\nТребования: <br>Контроль качества<br>К...,0,NaN,NaN,False,False,1.0,NaN,[],3,NaN,1,мастер,0,0,6.0,5.0

In [ ]:
X, y = train['custom_position'], train['sal_class_tp']
vectorizer = TfidfVectorizer().fit(X_train)
X_train, X_val, y_train, y_val = train_test_split(X, y, train_size=0.8)
X_tfidf_train = np.array(vectorizer.transform(X_train).todense(), dtype=np.float16)
X_tfidf_val = np.array(vectorizer.transform(X_val).todense(), dtype=np.float16)
model = RandomForestClassifier(n_estimators = 35, n_jobs = -1, max_depth = 250).fit(X_tfidf_train, y_train) #обучение модели
evaluate_model(model, X_tfidf_train, y_train)
print('Validation')
evaluate_model(model, X_tfidf_val, y_val)

Macro F1 score: 0.7918178348418804
Validation
Macro F1 score: 0.8726578275271879

0.8726578275271879

In [ ]:
import pickle
with open('model2.pickle', 'wb') as f:
  pickle.dump(model, f)

In [ ]:
test_tfidf = np.array(vectorizer.transform(test['custom_position']).todense(), dtype=np.float16)
test['sal_class_tp'] = model.predict(test_tfidf)

In [ ]:
import re #функции, которые ищут в описании зарплату
def clear(s):
  d = list(map(str, range(10)))
  m1 = []
  for i in s:
    if i != ' ':
      m1.append(i)
  s = ''.join(m1)
  m = []
  for i in s:
    if i in d:
      m.append(i)
    else:
      m.append(' ')
  s2 = ''.join(m)
  s2 = re.sub(" +", " ", s2)
  return s2

def find_salary(text):
  if False:
    return (-1, -1)
  m = []
  for i in clear(text).split(' '):
    if i != '':
      if 400000 > int(i) > 10000 and (int(i) % 10) == 0:
        m.append(int(i))
  if m == []:
    return (-1, -1)
  if min(m) != max(m):
    return (min(m), max(m))
  return (min(m), -1)

In [ ]:
test['salary_from'] = 0 #поиск зарплат в описании
for i in range(len(test)):
  a = find_salary(test['description'].iloc[i])
  test.loc[i, 'salary_from'] = a[0]
  test.loc[i, 'salary_to'] = a[1]
test

,id,custom_position,operating_schedule_id,description,offer_education_id,age_from,age_to,is_agency,is_nonresident,offer_experience_year_count,is_male,driving_license,region_id,company_id,city_id,target_prof,salary_from,salary_to,region_id_i,sal_class_tp
0,286961,водитель курьер доставка еда,3,<strong>Приглашаем на работу ВОДИТЕЛЕЙ-КУРЬЕРО...,0,18.0,50.0,False,True,-100.0,NaN,['B'],209,1172596.0,57,водитель,-1,-1,5.0,5.0
1,423834,упаковщик печение (вахта),7,"Прямой работодатель, с сезонным расширением пр...",0,NaN,NaN,False,False,NaN,NaN,[],3,1879927.0,1,упаковщик,-1,-1,6.0,4.0
2,336464,менеджер туризм,3,<strong>Обязанности:</strong><br />\r\n<ul>\r\...,4,NaN,NaN,False,False,1.0,NaN,[],1278,2724192.0,57,менеджер,-1,-1,5.0,3.0
3,287634,повар сушистый,1,Компания PIZZASUSHIWOK приглашает на работу по...,0,18.0,50.0,False,True,-100.0,NaN,[],3,1172596.0,1,повар,-1,-1,6.0,3.0
4,174883,уборщик/уборщица азс 145,3,<br /> <br />Требуется уборщик/ца на АЗС 145.<...,0,NaN,NaN,False,True,-1.0,NaN,[],1278,1952643.0,1,уборщик,-1,-1,5.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14069,290923,маркировщик/ца детский товар,7,<strong>Работа вахтой на производственно-склад...,0,NaN,NaN,False,False,NaN,NaN,[],3,1709808.0,1,маркировщик,-1,-1,6.0,3.0
14070,175080,упаковщик чайный фабрика (вахта),7,На чайную фабрику в Москве требуются сотрудник...,0,NaN,NaN,False,False,NaN,NaN,[],3,1724853.0,1,упаковщик,-1,-1,6.0,4.0
14071,451820,главный бухгалтер тэо,6,Стабильно работающая более 10 лет компания ище...,4,NaN,NaN,False,True,3.0,NaN,[],4,2961361.0,2,бухгалтер,-1,-1,5.0,3.0
14072,257668,помощник руководитель,1,<br />\nТребования: <br>В связи с формирование...,0,NaN,NaN,False,False,NaN,NaN,[],3,NaN,1,ассистент,-1,-1,6.0,3.0
14073,213393,мастер,3,<br />\nТребования: <br>Контроль качества<br>К...,0,NaN,NaN,False,False,1.0,NaN,[],3,NaN,1,мастер,-1,-1,6.0,5.0

In [ ]:
columns = ['sal_class_tp','region_id_i', 'offer_experience_year_count', 'offer_education_id', 'operating_schedule_id', 'salary_from', 'salary_to'] #признаки, которые будут использоваться для предсказания зарплат

In [ ]:
#датасет для предсказания зарплат
new_train = train[columns]
new_train

,sal_class_tp,region_id_i,offer_experience_year_count,offer_education_id,operating_schedule_id,salary_from,salary_to
0,3.0,5.0,1.0,0,1,34000,41000.0
1,4.0,6.0,NaN,0,7,66000,NaN
2,3.0,6.0,NaN,0,1,40000,40000.0
3,4.0,5.0,-100.0,0,7,35000,40000.0
4,2.0,3.0,2.0,4,1,30000,70000.0
...,...,...,...,...,...,...,...
56292,3.0,5.0,2.0,0,1,80000,NaN
56293,3.0,10.0,3.0,2,7,0,73000.0
56294,4.0,5.0,NaN,0,1,-1,-1.0
56295,4.0,3.0,2.0,4,1,-1,-1.0
56296,3.0,6.0,1.0,2,3,55000,NaN

In [ ]:
new_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56297 entries, 0 to 56296
Data columns (total 7 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   sal_class_tp                 56297 non-null  float64
 1   region_id_i                  56297 non-null  float64
 2   offer_experience_year_count  38622 non-null  float64
 3   offer_education_id           56297 non-null  int64
 4   operating_schedule_id        56297 non-null  int64
 5   salary_from                  56297 non-null  int64
 6   salary_to                    34829 non-null  float64
dtypes: float64(4), int64(3)
memory usage: 3.0 MB

In [ ]:
new_train

,sal_class_tp,region_id_i,offer_experience_year_count,offer_education_id,operating_schedule_id,salary_from,salary_to
0,3.0,5.0,1.0,0,1,34000,41000.0
1,4.0,6.0,NaN,0,7,66000,NaN
2,3.0,6.0,NaN,0,1,40000,40000.0
3,4.0,5.0,-100.0,0,7,35000,40000.0
4,2.0,3.0,2.0,4,1,30000,70000.0
...,...,...,...,...,...,...,...
56292,3.0,5.0,2.0,0,1,80000,NaN
56293,3.0,10.0,3.0,2,7,0,73000.0
56294,4.0,5.0,NaN,0,1,-1,-1.0
56295,4.0,3.0,2.0,4,1,-1,-1.0
56296,3.0,6.0,1.0,2,3,55000,NaN

In [ ]:
new_train = new_train[new_train['region_id_i'].notna()]
new_train = new_train[new_train['salary_to'].notna()]
new_train = new_train[new_train['salary_from'].notna()]
new_train = new_train[new_train['offer_experience_year_count'].notna()]

In [ ]:
new_train

,sal_class_tp,region_id_i,offer_experience_year_count,offer_education_id,operating_schedule_id,salary_from,salary_to
0,3.0,5.0,1.0,0,1,34000,41000.0
3,4.0,5.0,-100.0,0,7,35000,40000.0
4,2.0,3.0,2.0,4,1,30000,70000.0
9,5.0,5.0,-100.0,0,2,0,85000.0
12,3.0,4.0,-100.0,0,1,15280,18280.0
...,...,...,...,...,...,...,...
56284,2.0,5.0,-100.0,1,3,32800,36037.0
56287,3.0,6.0,-100.0,0,2,32000,64000.0
56291,2.0,6.0,0.0,0,3,37800,60000.0
56293,3.0,10.0,3.0,2,7,0,73000.0
56295,4.0,3.0,2.0,4,1,-1,-1.0

In [ ]:
new_train = new_train.drop(new_train[new_train.salary_from < 1].index)
new_train = new_train.drop(new_train[new_train.salary_to < 1].index)
new_train = new_train.drop(new_train[new_train.region_id_i < 0].index)
new_train = new_train.drop(new_train[new_train.offer_experience_year_count < 0].index)

In [ ]:
new_train #обработанный датасет

,sal_class_tp,region_id_i,offer_experience_year_count,offer_education_id,operating_schedule_id,salary_from,salary_to
0,3.0,5.0,1.0,0,1,34000,41000.0
4,2.0,3.0,2.0,4,1,30000,70000.0
14,5.0,6.0,1.0,0,2,80000,160000.0
17,4.0,5.0,1.0,0,7,40000,46000.0
33,2.0,4.0,1.0,0,3,30000,120000.0
...,...,...,...,...,...,...,...
56214,4.0,5.0,3.0,2,1,70000,80000.0
56224,4.0,4.0,1.0,4,1,45000,50000.0
56241,7.0,12.0,3.0,0,7,120000,140000.0
56276,2.0,6.0,1.0,0,1,45000,75000.0
56291,2.0,6.0,0.0,0,3,37800,60000.0

In [ ]:
X_train1, X_val1, y_train1, y_val1 = train_test_split(new_train[['sal_class_tp','region_id_i', 'offer_experience_year_count', 'offer_education_id', 'operating_schedule_id']], new_train['salary_to'], train_size=0.90) #разбиваем на тренировочную и тестовую выборку
X_train2, X_val2, y_train2, y_val2 = train_test_split(new_train[['sal_class_tp','region_id_i', 'offer_experience_year_count', 'offer_education_id', 'operating_schedule_id']], new_train['salary_from'], train_size=0.90)

In [ ]:
X_train1

,sal_class_tp,region_id_i,offer_experience_year_count,offer_education_id,operating_schedule_id
36996,4.0,6.0,3.0,4,1
31639,4.0,6.0,1.0,2,3
38462,2.0,4.0,1.0,0,1
9074,2.0,6.0,0.0,0,5
41713,4.0,5.0,3.0,0,1
...,...,...,...,...,...
16598,6.0,6.0,5.0,0,1
30193,4.0,6.0,1.0,0,1
29314,3.0,5.0,0.0,0,3
10171,3.0,4.0,5.0,0,3
43170,2.0,3.0,0.0,0,1

In [ ]:
from catboost import CatBoostRegressor

In [ ]:
model_to = CatBoostRegressor() #обучаем модели

model_to.fit(X_train1, y_train1)
model_from = CatBoostRegressor()

model_from.fit(X_train2, y_train2)

Learning rate set to 0.056383
0:	learn: 43664.7244743	total: 47.7ms	remaining: 47.6s
1:	learn: 43218.7246137	total: 49.3ms	remaining: 24.6s
2:	learn: 42785.3033655	total: 50.7ms	remaining: 16.8s
3:	learn: 42414.1011662	total: 51.9ms	remaining: 12.9s
4:	learn: 42097.5254551	total: 53.2ms	remaining: 10.6s
5:	learn: 41750.6171059	total: 54.4ms	remaining: 9.02s
6:	learn: 41445.1254784	total: 55.8ms	remaining: 7.92s
7:	learn: 41180.8126374	total: 57.1ms	remaining: 7.08s
8:	learn: 40944.4855480	total: 58.3ms	remaining: 6.42s
9:	learn: 40724.9048034	total: 59.6ms	remaining: 5.9s
10:	learn: 40555.0242097	total: 60.7ms	remaining: 5.46s
11:	learn: 40357.8320820	total: 61.9ms	remaining: 5.1s
12:	learn: 40182.1893835	total: 63.2ms	remaining: 4.79s
13:	learn: 40028.9847351	total: 64.5ms	remaining: 4.54s
14:	learn: 39880.9390372	total: 65.7ms	remaining: 4.31s
15:	learn: 39759.9892933	total: 66.9ms	remaining: 4.12s
16:	learn: 39628.5829096	total: 68.3ms	remaining: 3.95s
17:	learn: 39534.8613023	total: 69.6ms	remaining: 3.79s
18:	learn: 39424.7192233	total: 70.8ms	remaining: 3.66s
19:	learn: 39326.2708015	total: 72ms	remaining: 3.53s
20:	learn: 39232.7078071	total: 73.4ms	remaining: 3.42s
21:	learn: 39147.2876482	total: 74.6ms	remaining: 3.32s
22:	learn: 39061.8680795	total: 75.9ms	remaining: 3.23s
23:	learn: 39001.1926256	total: 77.3ms	remaining: 3.14s
24:	learn: 38929.4074533	total: 78.6ms	remaining: 3.07s
25:	learn: 38866.9811290	total: 79.9ms	remaining: 2.99s
26:	learn: 38811.5921042	total: 81.1ms	remaining: 2.92s
27:	learn: 38759.2038640	total: 82.4ms	remaining: 2.86s
28:	learn: 38711.6740228	total: 83.8ms	remaining: 2.8s
29:	learn: 38661.2604819	total: 85ms	remaining: 2.75s
30:	learn: 38615.1067957	total: 86.3ms	remaining: 2.7s
31:	learn: 38572.0713094	total: 87.5ms	remaining: 2.65s
32:	learn: 38529.1840116	total: 88.8ms	remaining: 2.6s
33:	learn: 38487.9579410	total: 90.1ms	remaining: 2.56s
34:	learn: 38444.0654285	total: 91.3ms	remaining: 2.52s
35:	learn: 38418.3022241	total: 92.5ms	remaining: 2.48s
36:	learn: 38383.0266345	total: 93.7ms	remaining: 2.44s
37:	learn: 38361.1011113	total: 95ms	remaining: 2.4s
38:	learn: 38341.1735926	total: 96.4ms	remaining: 2.38s
39:	learn: 38312.5601058	total: 97.6ms	remaining: 2.34s
40:	learn: 38287.4407866	total: 98.8ms	remaining: 2.31s
41:	learn: 38269.0453799	total: 100ms	remaining: 2.28s
42:	learn: 38250.1611286	total: 101ms	remaining: 2.25s
43:	learn: 38231.0690698	total: 102ms	remaining: 2.23s
44:	learn: 38207.2891127	total: 104ms	remaining: 2.2s
45:	learn: 38181.2320603	total: 105ms	remaining: 2.18s
46:	learn: 38160.9496657	total: 106ms	remaining: 2.15s
47:	learn: 38139.2857095	total: 107ms	remaining: 2.13s
48:	learn: 38119.7394752	total: 109ms	remaining: 2.11s
49:	learn: 38104.7398969	total: 110ms	remaining: 2.09s
50:	learn: 38093.4508880	total: 111ms	remaining: 2.07s
51:	learn: 38080.7011462	total: 112ms	remaining: 2.04s
52:	learn: 38063.9928253	total: 113ms	remaining: 2.03s
53:	learn: 38049.9415031	total: 115ms	remaining: 2.01s
54:	learn: 38026.8359721	total: 116ms	remaining: 1.99s
55:	learn: 38003.4262446	total: 117ms	remaining: 1.98s
56:	learn: 37989.2430200	total: 118ms	remaining: 1.96s
57:	learn: 37973.2400885	total: 120ms	remaining: 1.95s
58:	learn: 37965.5493944	total: 121ms	remaining: 1.94s
59:	learn: 37951.6835848	total: 123ms	remaining: 1.92s
60:	learn: 37937.4051467	total: 124ms	remaining: 1.91s
61:	learn: 37913.6285964	total: 125ms	remaining: 1.9s
62:	learn: 37906.2547696	total: 126ms	remaining: 1.88s
63:	learn: 37894.8365673	total: 128ms	remaining: 1.87s
64:	learn: 37882.2551849	total: 129ms	remaining: 1.86s
65:	learn: 37871.5581064	total: 130ms	remaining: 1.84s
66:	learn: 37846.5683827	total: 132ms	remaining: 1.83s
67:	learn: 37836.7277895	total: 133ms	remaining: 1.82s
68:	learn: 37820.0526347	total: 134ms	remaining: 1.81s
69:	learn: 37809.0441361	total: 135ms	remaining: 1.8s
70:	learn: 37796.0204163	total: 137ms	remaining: 1.79s
71:	learn: 37785.2090738	total: 138ms	remaining: 1.78s
72:	learn: 37781.4417324	total: 139ms	remaining: 1.76s
73:	learn: 37760.5951856	total: 140ms	remaining: 1.75s
74:	learn: 37750.4012230	total: 142ms	remaining: 1.75s
75:	learn: 37741.8893569	total: 143ms	remaining: 1.74s
76:	learn: 37738.3560802	total: 144ms	remaining: 1.72s
77:	learn: 37716.3699722	total: 145ms	remaining: 1.72s
78:	learn: 37709.4027495	total: 146ms	remaining: 1.71s
79:	learn: 37703.4696093	total: 148ms	remaining: 1.7s
80:	learn: 37695.5623887	total: 149ms	remaining: 1.69s
81:	learn: 37681.3023579	total: 150ms	remaining: 1.68s
82:	learn: 37673.2500655	total: 152ms	remaining: 1.67s
83:	learn: 37668.5933131	total: 153ms	remaining: 1.66s
84:	learn: 37665.2904470	total: 154ms	remaining: 1.66s
85:	learn: 37658.1629777	total: 155ms	remaining: 1.65s
86:	learn: 37644.8158952	total: 156ms	remaining: 1.64s
87:	learn: 37634.8705867	total: 158ms	remaining: 1.63s
88:	learn: 37618.7854024	total: 159ms	remaining: 1.63s
89:	learn: 37613.0544394	total: 160ms	remaining: 1.62s
90:	learn: 37609.3359359	total: 161ms	remaining: 1.61s
91:	learn: 37606.3923502	total: 170ms	remaining: 1.68s
92:	learn: 37600.8657175	total: 181ms	remaining: 1.77s
93:	learn: 37597.9984420	total: 183ms	remaining: 1.76s
94:	learn: 37595.4591736	total: 185ms	remaining: 1.77s
95:	learn: 37586.8191762	total: 194ms	remaining: 1.82s
96:	learn: 37575.4046238	total: 195ms	remaining: 1.82s
97:	learn: 37559.8326434	total: 196ms	remaining: 1.81s
98:	learn: 37553.5732634	total: 197ms	remaining: 1.8s
99:	learn: 37552.1765500	total: 198ms	remaining: 1.78s
100:	learn: 37544.9683338	total: 199ms	remaining: 1.77s
101:	learn: 37537.0844322	total: 201ms	remaining: 1.76s
102:	learn: 37533.8571036	total: 201ms	remaining: 1.75s
103:	learn: 37531.9987822	total: 202ms	remaining: 1.74s
104:	learn: 37519.0678523	total: 203ms	remaining: 1.73s
105:	learn: 37514.6394171	total: 205ms	remaining: 1.73s
106:	learn: 37508.4587473	total: 206ms	remaining: 1.72s
107:	learn: 37507.8406484	total: 206ms	remaining: 1.7s
108:	learn: 37507.2648449	total: 207ms	remaining: 1.69s
109:	learn: 37503.4980007	total: 208ms	remaining: 1.69s
110:	learn: 37498.0698022	total: 209ms	remaining: 1.68s
111:	learn: 37493.1711705	total: 211ms	remaining: 1.67s
112:	learn: 37489.3656266	total: 212ms	remaining: 1.66s
113:	learn: 37485.6236691	total: 213ms	remaining: 1.66s
114:	learn: 37478.1470846	total: 214ms	remaining: 1.65s
115:	learn: 37476.3839993	total: 215ms	remaining: 1.64s
116:	learn: 37474.3233352	total: 216ms	remaining: 1.63s
117:	learn: 37473.7036824	total: 217ms	remaining: 1.63s
118:	learn: 37461.9411696	total: 219ms	remaining: 1.62s
119:	learn: 37459.9561213	total: 220ms	remaining: 1.61s
120:	learn: 37452.1223481	total: 221ms	remaining: 1.6s
121:	learn: 37442.9039468	total: 222ms	remaining: 1.6s
122:	learn: 37437.5587854	total: 223ms	remaining: 1.59s
123:	learn: 37430.5536286	total: 225ms	remaining: 1.59s
124:	learn: 37428.4510125	total: 226ms	remaining: 1.58s
125:	learn: 37425.7489547	total: 227ms	remaining: 1.57s
126:	learn: 37420.6361115	total: 228ms	remaining: 1.57s
127:	learn: 37418.7466667	total: 229ms	remaining: 1.56s
128:	learn: 37408.3122272	total: 232ms	remaining: 1.57s
129:	learn: 37406.4599324	total: 234ms	remaining: 1.57s
130:	learn: 37396.0317176	total: 235ms	remaining: 1.56s
131:	learn: 37389.5554053	total: 237ms	remaining: 1.55s
132:	learn: 37386.1648636	total: 238ms	remaining: 1.55s
133:	learn: 37377.3337699	total: 239ms	remaining: 1.54s
134:	learn: 37375.3302801	total: 240ms	remaining: 1.54s
135:	learn: 37361.3474730	total: 241ms	remaining: 1.53s
136:	learn: 37359.2046516	total: 242ms	remaining: 1.53s
137:	learn: 37340.6177099	total: 244ms	remaining: 1.52s
138:	learn: 37333.2972579	total: 245ms	remaining: 1.52s
139:	learn: 37331.6978595	total: 246ms	remaining: 1.51s
140:	learn: 37318.6931108	total: 247ms	remaining: 1.51s
141:	learn: 37318.0099347	total: 248ms	remaining: 1.5s
142:	learn: 37314.4087543	total: 249ms	remaining: 1.5s
143:	learn: 37301.7773065	total: 251ms	remaining: 1.49s
144:	learn: 37301.4150536	total: 252ms	remaining: 1.48s
145:	learn: 37298.1658978	total: 253ms	remaining: 1.48s
146:	learn: 37295.0765815	total: 254ms	remaining: 1.47s
147:	learn: 37291.5979341	total: 255ms	remaining: 1.47s
148:	learn: 37280.6043828	total: 257ms	remaining: 1.47s
149:	learn: 37279.3873151	total: 258ms	remaining: 1.46s
150:	learn: 37279.1548039	total: 259ms	remaining: 1.45s
151:	learn: 37272.3859768	total: 260ms	remaining: 1.45s
152:	learn: 37267.8210655	total: 261ms	remaining: 1.44s
153:	learn: 37263.4080592	total: 262ms	remaining: 1.44s
154:	learn: 37258.4549123	total: 263ms	remaining: 1.44s
155:	learn: 37253.6037621	total: 264ms	remaining: 1.43s
156:	learn: 37249.7116706	total: 266ms	remaining: 1.43s
157:	learn: 37246.5349744	total: 268ms	remaining: 1.43s
158:	learn: 37244.6780222	total: 269ms	remaining: 1.43s
159:	learn: 37239.7147244	total: 271ms	remaining: 1.42s
160:	learn: 37226.6599393	total: 272ms	remaining: 1.42s
161:	learn: 37223.3199680	total: 273ms	remaining: 1.41s
162:	learn: 37209.1975948	total: 275ms	remaining: 1.41s
163:	learn: 37205.5751139	total: 276ms	remaining: 1.41s
164:	learn: 37204.7525359	total: 278ms	remaining: 1.4s
165:	learn: 37198.4628692	total: 279ms	remaining: 1.4s
166:	learn: 37188.5914389	total: 280ms	remaining: 1.4s
167:	learn: 37182.1354660	total: 282ms	remaining: 1.39s
168:	learn: 37172.7035909	total: 283ms	remaining: 1.39s
169:	learn: 37170.5755646	total: 286ms	remaining: 1.39s
170:	learn: 37163.1349295	total: 287ms	remaining: 1.39s
171:	learn: 37160.8638618	total: 288ms	remaining: 1.39s
172:	learn: 37155.4873900	total: 289ms	remaining: 1.38s
173:	learn: 37154.0724586	total: 290ms	remaining: 1.38s
174:	learn: 37150.6129641	total: 292ms	remaining: 1.37s
175:	learn: 37149.9499649	total: 293ms	remaining: 1.37s
176:	learn: 37143.3892031	total: 294ms	remaining: 1.37s
177:	learn: 37138.5595022	total: 295ms	remaining: 1.36s
178:	learn: 37129.4023647	total: 297ms	remaining: 1.36s
179:	learn: 37127.0594880	total: 298ms	remaining: 1.36s
180:	learn: 37126.5411752	total: 299ms	remaining: 1.35s
181:	learn: 37124.3341173	total: 300ms	remaining: 1.35s
182:	learn: 37121.7402939	total: 301ms	remaining: 1.34s
183:	learn: 37119.8103185	total: 302ms	remaining: 1.34s
184:	learn: 37117.9315737	total: 304ms	remaining: 1.34s
185:	learn: 37116.0526550	total: 305ms	remaining: 1.33s
186:	learn: 37113.3918275	total: 306ms	remaining: 1.33s
187:	learn: 37112.5235981	total: 307ms	remaining: 1.33s
188:	learn: 37111.5464365	total: 308ms	remaining: 1.32s
189:	learn: 37109.5556522	total: 310ms	remaining: 1.32s
190:	learn: 37106.8905801	total: 311ms	remaining: 1.32s
191:	learn: 37106.4897115	total: 312ms	remaining: 1.31s
192:	learn: 37106.0224796	total: 313ms	remaining: 1.31s
193:	learn: 37103.6884777	total: 314ms	remaining: 1.3s
194:	learn: 37101.4386088	total: 315ms	remaining: 1.3s
195:	learn: 37098.7052478	total: 317ms	remaining: 1.3s
196:	learn: 37098.0195181	total: 318ms	remaining: 1.29s
197:	learn: 37094.7141779	total: 319ms	remaining: 1.29s
198:	learn: 37092.9156281	total: 320ms	remaining: 1.29s
199:	learn: 37091.1511818	total: 321ms	remaining: 1.28s
200:	learn: 37088.9575364	total: 322ms	remaining: 1.28s
201:	learn: 37088.2361813	total: 325ms	remaining: 1.28s
202:	learn: 37086.1234909	total: 326ms	remaining: 1.28s
203:	learn: 37083.6249127	total: 328ms	remaining: 1.28s
204:	learn: 37076.1791257	total: 329ms	remaining: 1.27s
205:	learn: 37075.3265880	total: 330ms	remaining: 1.27s
206:	learn: 37073.1323410	total: 331ms	remaining: 1.27s
207:	learn: 37070.9754709	total: 332ms	remaining: 1.26s
208:	learn: 37069.3793567	total: 333ms	remaining: 1.26s
209:	learn: 37066.1770007	total: 335ms	remaining: 1.26s
210:	learn: 37062.2505885	total: 336ms	remaining: 1.25s
211:	learn: 37061.3381372	total: 337ms	remaining: 1.25s
212:	learn: 37053.7010438	total: 338ms	remaining: 1.25s
213:	learn: 37052.9890451	total: 338ms	remaining: 1.24s
214:	learn: 37051.5548242	total: 340ms	remaining: 1.24s
215:	learn: 37049.6066358	total: 341ms	remaining: 1.24s
216:	learn: 37048.7126851	total: 342ms	remaining: 1.23s
217:	learn: 37048.5654891	total: 343ms	remaining: 1.23s
218:	learn: 37047.5634031	total: 344ms	remaining: 1.23s
219:	learn: 37046.9446747	total: 345ms	remaining: 1.22s
220:	learn: 37046.6905921	total: 346ms	remaining: 1.22s
221:	learn: 37043.4777353	total: 347ms	remaining: 1.22s
222:	learn: 37042.8213967	total: 349ms	remaining: 1.21s
223:	learn: 37038.5533648	total: 350ms	remaining: 1.21s
224:	learn: 37037.0177531	total: 351ms	remaining: 1.21s
225:	learn: 37035.3412749	total: 352ms	remaining: 1.21s
226:	learn: 37035.0559252	total: 353ms	remaining: 1.2s
227:	learn: 37034.5325263	total: 354ms	remaining: 1.2s
228:	learn: 37034.2411702	total: 355ms	remaining: 1.2s
229:	learn: 37033.2043626	total: 356ms	remaining: 1.19s
230:	learn: 37031.5995101	total: 357ms	remaining: 1.19s
231:	learn: 37031.2406442	total: 359ms	remaining: 1.19s
232:	learn: 37030.7641236	total: 360ms	remaining: 1.18s
233:	learn: 37026.8650778	total: 361ms	remaining: 1.18s
234:	learn: 37025.3572109	total: 362ms	remaining: 1.18s
235:	learn: 37021.6443545	total: 363ms	remaining: 1.18s
236:	learn: 37021.0969889	total: 365ms	remaining: 1.17s
237:	learn: 37016.3677320	total: 366ms	remaining: 1.17s
238:	learn: 37015.9999416	total: 367ms	remaining: 1.17s
239:	learn: 37008.7739814	total: 368ms	remaining: 1.17s
240:	learn: 37005.6816387	total: 369ms	remaining: 1.16s
241:	learn: 37004.7736330	total: 370ms	remaining: 1.16s
242:	learn: 37000.3324222	total: 372ms	remaining: 1.16s
243:	learn: 36999.9727264	total: 373ms	remaining: 1.16s
244:	learn: 36999.7346571	total: 374ms	remaining: 1.15s
245:	learn: 36994.5853097	total: 379ms	remaining: 1.16s
246:	learn: 36990.9752149	total: 380ms	remaining: 1.16s
247:	learn: 36982.6406067	total: 381ms	remaining: 1.16s
248:	learn: 36978.7424536	total: 383ms	remaining: 1.15s
249:	learn: 36976.3181511	total: 384ms	remaining: 1.15s
250:	learn: 36974.9638663	total: 385ms	remaining: 1.15s
251:	learn: 36971.3020706	total: 386ms	remaining: 1.15s
252:	learn: 36970.9116652	total: 388ms	remaining: 1.14s
253:	learn: 36964.0547049	total: 389ms	remaining: 1.14s
254:	learn: 36963.8595454	total: 390ms	remaining: 1.14s
255:	learn: 36963.0221209	total: 392ms	remaining: 1.14s
256:	learn: 36959.0884642	total: 394ms	remaining: 1.14s
257:	learn: 36956.4751397	total: 395ms	remaining: 1.14s
258:	learn: 36955.8048712	total: 397ms	remaining: 1.14s
259:	learn: 36949.4053767	total: 400ms	remaining: 1.14s
260:	learn: 36949.0885493	total: 403ms	remaining: 1.14s
261:	learn: 36949.0270846	total: 404ms	remaining: 1.14s
262:	learn: 36942.1292773	total: 405ms	remaining: 1.13s
263:	learn: 36941.7093912	total: 405ms	remaining: 1.13s
264:	learn: 36936.1244211	total: 406ms	remaining: 1.13s
265:	learn: 36934.8430170	total: 407ms	remaining: 1.12s
266:	learn: 36932.3949891	total: 409ms	remaining: 1.12s
267:	learn: 36932.3533097	total: 409ms	remaining: 1.12s
268:	learn: 36926.3300175	total: 410ms	remaining: 1.11s
269:	learn: 36925.9322134	total: 411ms	remaining: 1.11s
270:	learn: 36924.5967421	total: 413ms	remaining: 1.11s
271:	learn: 36924.1521596	total: 414ms	remaining: 1.11s
272:	learn: 36923.7950789	total: 415ms	remaining: 1.1s
273:	learn: 36923.1092430	total: 416ms	remaining: 1.1s
274:	learn: 36918.2341768	total: 417ms	remaining: 1.1s
275:	learn: 36913.2555179	total: 418ms	remaining: 1.1s
276:	learn: 36907.1816328	total: 419ms	remaining: 1.09s
277:	learn: 36906.7908960	total: 420ms	remaining: 1.09s
278:	learn: 36905.4001836	total: 422ms	remaining: 1.09s
279:	learn: 36900.2826397	total: 423ms	remaining: 1.09s
280:	learn: 36895.7862126	total: 424ms	remaining: 1.08s
281:	learn: 36894.7832129	total: 425ms	remaining: 1.08s
282:	learn: 36891.2828084	total: 426ms	remaining: 1.08s
283:	learn: 36887.5570585	total: 428ms	remaining: 1.08s
284:	learn: 36887.0407247	total: 429ms	remaining: 1.07s
285:	learn: 36885.3488131	total: 430ms	remaining: 1.07s
286:	learn: 36883.2828358	total: 431ms	remaining: 1.07s
287:	learn: 36880.9457691	total: 433ms	remaining: 1.07s
288:	learn: 36878.8762444	total: 434ms	remaining: 1.07s
289:	learn: 36874.6074691	total: 435ms	remaining: 1.06s
290:	learn: 36869.7870097	total: 436ms	remaining: 1.06s
291:	learn: 36868.5591427	total: 437ms	remaining: 1.06s
292:	learn: 36863.1647088	total: 439ms	remaining: 1.06s
293:	learn: 36862.9430558	total: 440ms	remaining: 1.06s
294:	learn: 36862.1107222	total: 441ms	remaining: 1.05s
295:	learn: 36856.7939913	total: 442ms	remaining: 1.05s
296:	learn: 36854.7152385	total: 443ms	remaining: 1.05s
297:	learn: 36851.2362628	total: 445ms	remaining: 1.05s
298:	learn: 36847.0105136	total: 446ms	remaining: 1.04s
299:	learn: 36846.9716799	total: 447ms	remaining: 1.04s
300:	learn: 36841.6133001	total: 448ms	remaining: 1.04s
301:	learn: 36841.3506737	total: 449ms	remaining: 1.04s
302:	learn: 36839.4723486	total: 450ms	remaining: 1.04s
303:	learn: 36833.3890296	total: 452ms	remaining: 1.03s
304:	learn: 36833.2854544	total: 453ms	remaining: 1.03s
305:	learn: 36833.1205267	total: 454ms	remaining: 1.03s
306:	learn: 36831.2514948	total: 457ms	remaining: 1.03s
307:	learn: 36829.4890990	total: 458ms	remaining: 1.03s
308:	learn: 36827.7395081	total: 460ms	remaining: 1.03s
309:	learn: 36826.0922111	total: 461ms	remaining: 1.03s
310:	learn: 36818.1087618	total: 462ms	remaining: 1.02s
311:	learn: 36813.0603557	total: 464ms	remaining: 1.02s
312:	learn: 36811.7452778	total: 465ms	remaining: 1.02s
313:	learn: 36804.8129989	total: 466ms	remaining: 1.02s
314:	learn: 36802.5289164	total: 469ms	remaining: 1.02s
315:	learn: 36796.6745922	total: 470ms	remaining: 1.02s
316:	learn: 36795.7370185	total: 472ms	remaining: 1.02s
317:	learn: 36795.7096675	total: 473ms	remaining: 1.01s
318:	learn: 36794.8524224	total: 474ms	remaining: 1.01s
319:	learn: 36790.4057760	total: 475ms	remaining: 1.01s
320:	learn: 36789.2143450	total: 476ms	remaining: 1.01s
321:	learn: 36787.8770378	total: 478ms	remaining: 1s
322:	learn: 36785.2881960	total: 479ms	remaining: 1s
323:	learn: 36783.7029987	total: 480ms	remaining: 1s
324:	learn: 36782.2002398	total: 481ms	remaining: 999ms
325:	learn: 36777.1415919	total: 482ms	remaining: 997ms
326:	learn: 36775.7039176	total: 484ms	remaining: 995ms
327:	learn: 36773.5264431	total: 485ms	remaining: 993ms
328:	learn: 36771.6015294	total: 486ms	remaining: 991ms
329:	learn: 36770.2609828	total: 487ms	remaining: 989ms
330:	learn: 36769.1625070	total: 488ms	remaining: 987ms
331:	learn: 36764.9989606	total: 489ms	remaining: 985ms
332:	learn: 36763.9584698	total: 491ms	remaining: 983ms
333:	learn: 36761.1818466	total: 492ms	remaining: 982ms
334:	learn: 36761.1480140	total: 495ms	remaining: 983ms
335:	learn: 36760.9218116	total: 498ms	remaining: 984ms
336:	learn: 36757.0433859	total: 499ms	remaining: 982ms
337:	learn: 36754.9760673	total: 501ms	remaining: 981ms
338:	learn: 36749.3728826	total: 502ms	remaining: 979ms
339:	learn: 36744.4205309	total: 504ms	remaining: 978ms
340:	learn: 36740.0664788	total: 505ms	remaining: 977ms
341:	learn: 36734.4339307	total: 507ms	remaining: 975ms
342:	learn: 36730.6567232	total: 508ms	remaining: 973ms
343:	learn: 36730.6243580	total: 509ms	remaining: 971ms
344:	learn: 36730.5990343	total: 510ms	remaining: 969ms
345:	learn: 36729.3769690	total: 512ms	remaining: 967ms
346:	learn: 36726.0179346	total: 513ms	remaining: 965ms
347:	learn: 36725.6173440	total: 514ms	remaining: 963ms
348:	learn: 36722.9791800	total: 515ms	remaining: 961ms
349:	learn: 36722.8611704	total: 516ms	remaining: 959ms
350:	learn: 36721.5140238	total: 517ms	remaining: 957ms
351:	learn: 36721.0318974	total: 519ms	remaining: 955ms
352:	learn: 36716.3551384	total: 520ms	remaining: 953ms
353:	learn: 36714.7778738	total: 521ms	remaining: 951ms
354:	learn: 36714.4102946	total: 522ms	remaining: 949ms
355:	learn: 36713.7303867	total: 523ms	remaining: 947ms
356:	learn: 36711.9067295	total: 525ms	remaining: 945ms
357:	learn: 36707.9757876	total: 526ms	remaining: 943ms

In [ ]:
def MAPE(y_true, y_pred): 
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

In [ ]:
MAPE(y_val1, model_to.predict(X_val1)) #оцениваем точность модели

43.79849351240408

In [ ]:
MAPE(y_val2, model_from.predict(X_val2)) #оцениваем точность модели

31.83248934099021

In [ ]:
to_pred = test[columns]
to_pred

,sal_class_tp,region_id_i,offer_experience_year_count,offer_education_id,operating_schedule_id,salary_from,salary_to
0,5.0,5.0,-100.0,0,3,-1,-1
1,4.0,6.0,NaN,0,7,-1,-1
2,3.0,5.0,1.0,4,3,-1,-1
3,3.0,6.0,-100.0,0,1,-1,-1
4,2.0,5.0,-1.0,0,3,-1,-1
...,...,...,...,...,...,...,...
14069,3.0,6.0,NaN,0,7,-1,-1
14070,4.0,6.0,NaN,0,7,-1,-1
14071,3.0,5.0,3.0,4,6,-1,-1
14072,3.0,6.0,NaN,0,1,-1,-1
14073,5.0,6.0,1.0,0,3,-1,-1

In [ ]:
to_pred = to_pred.fillna(0)
to_pred[to_pred['offer_experience_year_count'] < 0] = 0

In [ ]:
to_pred

,sal_class_tp,region_id_i,offer_experience_year_count,offer_education_id,operating_schedule_id,salary_from,salary_to
0,0.0,0.0,0.0,0,0,0,0
1,4.0,6.0,0.0,0,7,-1,-1
2,3.0,5.0,1.0,4,3,-1,-1
3,0.0,0.0,0.0,0,0,0,0
4,0.0,0.0,0.0,0,0,0,0
...,...,...,...,...,...,...,...
14069,3.0,6.0,0.0,0,7,-1,-1
14070,4.0,6.0,0.0,0,7,-1,-1
14071,3.0,5.0,3.0,4,6,-1,-1
14072,3.0,6.0,0.0,0,1,-1,-1
14073,5.0,6.0,1.0,0,3,-1,-1

In [ ]:
test['salary_form_cat'] = model_from.predict(to_pred.drop(['salary_from',	'salary_to'], axis = 1))
test['salary_to_cat'] = model_to.predict(to_pred.drop(['salary_from',	'salary_to'], axis = 1))

In [ ]:
import pickle
with open('cat_to.pickle', 'wb') as f:
  pickle.dump(model_to, f)
with open('cat_from.pickle', 'wb') as f:
  pickle.dump(model_to, f)

In [ ]:
for i in range(len(test)):
  if not test['salary_from'].iloc[i] > 0:
    test.loc[i, 'salary_from'] = test['salary_form_cat'].iloc[i]
  if not test['salary_to'].iloc[i] > 0:
    test.loc[i, 'salary_to'] = test['salary_to_cat'].iloc[i]

In [ ]:
test[test['salary_from'] != test['salary_form_cat']]

,id,custom_position,operating_schedule_id,description,offer_education_id,age_from,age_to,is_agency,is_nonresident,offer_experience_year_count,...,region_id,company_id,city_id,target_prof,salary_from,salary_to,region_id_i,sal_class_tp,salary_form_cat,salary_to_cat
5,276796,почтальон,1,<strong>Обязанности:</strong><br />\r\n<ul>\r\...,1,18.0,NaN,False,False,-100.0,...,60,1268027.0,38,почтальон,13000.0,38753.718568,4.0,1.0,10282.202679,38753.718568
12,287682,охранник (вахта),7,<strong>Вакансия компании ООО ЧОП Щит</strong>...,0,NaN,NaN,False,True,-1.0,...,3,1636491.0,259,охранник,24000.0,51000.000000,6.0,2.0,10282.202679,38753.718568
18,56390,уборщик (клинер),2,<strong>Вакансия компании Клининг Счастья ( ИП...,0,NaN,NaN,False,True,-1.0,...,299,1636491.0,8,уборщик,25000.0,45000.000000,4.0,2.0,10282.202679,38753.718568
26,151566,сварщик полуавтомат,7,&nbsp;<br />\r\n\r\n\r\n<strong>Обязанности:</...,0,18.0,60.0,True,True,1.0,...,621,2162445.0,49,сварщик,75000.0,103632.368214,10.0,7.0,87857.934907,103632.368214
41,346294,продавец консультант магазин куулклевер. мясно...,3,"<strong>КуулКлевер &ndash; это место, где вам ...",0,NaN,NaN,False,False,NaN,...,3,266870.0,1,консультант,45000.0,110000.000000,6.0,2.0,33008.149617,45579.251232
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14053,439484,мерчендайзер (м. тёплый стан),5,<strong>Обязанности:</strong><br />\r\n<ul>\r\...,0,NaN,NaN,False,False,-100.0,...,3,344421.0,1,мерчендайзер,15900.0,38753.718568,6.0,2.0,10282.202679,38753.718568
14056,105962,помощник повар ( сотрудник раздача столовой),3,<strong>Обязанности:</strong><br />\r\n<ul>\r\...,0,NaN,NaN,False,True,1.0,...,4548,1882525.0,35,сотрудник,25000.0,63602.175020,18.0,3.0,37933.379465,63602.175020
14057,108793,охранник,7,<strong>Охранник на парковку в Москве</strong>...,0,18.0,55.0,False,True,-100.0,...,3,253590.0,174,охранник,57000.0,38753.718568,6.0,2.0,10282.202679,38753.718568
14065,56768,водитель категория b,2,Сервис такси приглашает водителей на работу. С...,0,21.0,NaN,True,True,-100.0,...,104,2103886.0,7,водитель,80000.0,38753.718568,4.0,5.0,10282.202679,38753.718568
14068,453522,электросварщик,7,Требование:&nbsp;Рассмотрим кандидатов от 3 ра...,0,18.0,50.0,False,True,0.0,...,402,1951859.0,18,электросварщик,63000.0,80395.579088,5.0,5.0,53220.307049,80395.579088

In [ ]:
test

,id,custom_position,operating_schedule_id,description,offer_education_id,age_from,age_to,is_agency,is_nonresident,offer_experience_year_count,...,region_id,company_id,city_id,target_prof,salary_from,salary_to,region_id_i,sal_class_tp,salary_form_cat,salary_to_cat
0,286961,водитель курьер доставка еда,3,<strong>Приглашаем на работу ВОДИТЕЛЕЙ-КУРЬЕРО...,0,18.0,50.0,False,True,-100.0,...,209,1172596.0,57,водитель,10282.202679,38753.718568,5.0,5.0,10282.202679,38753.718568
1,423834,упаковщик печение (вахта),7,"Прямой работодатель, с сезонным расширением пр...",0,NaN,NaN,False,False,NaN,...,3,1879927.0,1,упаковщик,56994.146743,78071.977113,6.0,4.0,56994.146743,78071.977113
2,336464,менеджер туризм,3,<strong>Обязанности:</strong><br />\r\n<ul>\r\...,4,NaN,NaN,False,False,1.0,...,1278,2724192.0,57,менеджер,41215.190199,68122.573329,5.0,3.0,41215.190199,68122.573329
3,287634,повар сушистый,1,Компания PIZZASUSHIWOK приглашает на работу по...,0,18.0,50.0,False,True,-100.0,...,3,1172596.0,1,повар,10282.202679,38753.718568,6.0,3.0,10282.202679,38753.718568
4,174883,уборщик/уборщица азс 145,3,<br /> <br />Требуется уборщик/ца на АЗС 145.<...,0,NaN,NaN,False,True,-1.0,...,1278,1952643.0,1,уборщик,10282.202679,38753.718568,5.0,2.0,10282.202679,38753.718568
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14069,290923,маркировщик/ца детский товар,7,<strong>Работа вахтой на производственно-склад...,0,NaN,NaN,False,False,NaN,...,3,1709808.0,1,маркировщик,47125.884190,71046.384348,6.0,3.0,47125.884190,71046.384348
14070,175080,упаковщик чайный фабрика (вахта),7,На чайную фабрику в Москве требуются сотрудник...,0,NaN,NaN,False,False,NaN,...,3,1724853.0,1,упаковщик,56994.146743,78071.977113,6.0,4.0,56994.146743,78071.977113
14071,451820,главный бухгалтер тэо,6,Стабильно работающая более 10 лет компания ище...,4,NaN,NaN,False,True,3.0,...,4,2961361.0,2,бухгалтер,38858.630220,72870.840954,5.0,3.0,38858.630220,72870.840954
14072,257668,помощник руководитель,1,<br />\nТребования: <br>В связи с формирование...,0,NaN,NaN,False,False,NaN,...,3,NaN,1,ассистент,40666.058869,55268.768601,6.0,3.0,40666.058869,55268.768601
14073,213393,мастер,3,<br />\nТребования: <br>Контроль качества<br>К...,0,NaN,NaN,False,False,1.0,...,3,NaN,1,мастер,61410.348120,100052.880975,6.0,5.0,61410.348120,100052.880975

In [ ]:
result = pd.DataFrame()
result['id'] = test['id']
result['salary_from'] = test['salary_from']
result['salary_to'] = test['salary_to']
result['target_prof'] = test['target_prof']
result

           id   salary_from      salary_to  target_prof
0      286961  10282.202679   38753.718568     водитель
1      423834  56994.146743   78071.977113    упаковщик
2      336464  41215.190199   68122.573329     менеджер
3      287634  10282.202679   38753.718568        повар
4      174883  10282.202679   38753.718568      уборщик
...       ...           ...            ...          ...
14069  290923  47125.884190   71046.384348  маркировщик
14070  175080  56994.146743   78071.977113    упаковщик
14071  451820  38858.630220   72870.840954    бухгалтер
14072  257668  40666.058869   55268.768601    ассистент
14073  213393  61410.348120  100052.880975       мастер

[14074 rows x 4 columns]

In [ ]:
result.to_csv('result12.csv')

In [ ]:
def pred(s):
  s = np.array(vectorizer.transform([s]).todense(), dtype=np.float16)
  return modelq.predict(s)[0]

In [ ]:
pred('водитель2')

'витражист'